<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisCon</servlet-name>
        <servlet-class>quiz.controler.RegisCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCon</servlet-name>
        <servlet-class>quiz.controler.LoginCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>CreateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayQuiz</servlet-name>
        <servlet-class>quiz.controler.PlayQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuiz</servlet-name>
        <servlet-class>quiz.controler.TakeQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisCon</servlet-name>
        <url-pattern>/RegisCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCon</servlet-name>
        <url-pattern>/LoginCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/CreateQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayQuiz</servlet-name>
        <url-pattern>/PlayQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuiz</servlet-name>
        <url-pattern>/TakeQuiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
